<div style="height: calc(100vh - 65px); overflow:auto">
  <mat-card style="width: 30%; margin: 30px auto; padding: 20px">
    <h2>Sign In to MyBay</h2>
    <p *ngIf="showVerificationText">Please confirm your account from your E-mail.</p>
    <div *ngIf="!(authService.user | async)">
      <div *ngIf="showLogin">
        <p style="color: red;" *ngIf="show_login_error">{{login_error}}</p>
        <div style="color: red;" *ngIf="showEmailError">Please type in a valid email for resetting your password</div>
        <mat-form-field>
          <input style="line-height:1.5" (keyup.enter)="login()" matInput type="text" [(ngModel)]="email" placeholder="E-mail">
        </mat-form-field>
        <br />
        <mat-form-field>
          <input style="line-height:1.5" (keyup.enter)="login()" matInput type="password" [(ngModel)]="password"
            placeholder="Password">
        </mat-form-field>
        <div style="margin-top:-10px">
          <div *ngIf="showResetText">A password reset link was sent to your mail</div>
          <a style="color: blue; cursor: pointer; font-size: 14px" (click)="forgotPassword()">Forgot Password</a>
        </div>
        <br />
        <button style="float: right;" color="primary" mat-raised-button (click)="login()" [disabled]="!email || !password">
          Login
        </button>
        <!-- <button style="float: right;" color="primary" mat-raised-button (click)="loginwithFB()" [disabled]="!email || !password">
          Login with Facebook
        </button> -->
        <div style="float: right; clear: both;">
          Not a user?
          <a style="color: blue; cursor: pointer;" (click)="showLogin=false">Sign Up</a>
        </div>
      </div>

      <div *ngIf="!showLogin">
        <form #f="ngForm" (ngSubmit)="signup(f)">
          <mat-form-field>
            <input name="first" required matInput type="text" [(ngModel)]="firstname" placeholder="First Name">
          </mat-form-field>
          <br />
          <mat-form-field>
            <input name="last" required matInput type="text" [(ngModel)]="lastname" placeholder="Last Name">
          </mat-form-field>
          <br />
          <mat-form-field>
            <input #mail name="mail" required matInput type="email" [(ngModel)]="email" placeholder="E-mail" email>
          </mat-form-field>
          <!-- <div *ngIf="mail.errors">
          <mat-error *ngIf="mail.errors?.required">
            Email is required
          </mat-error>
          <mat-error *ngIf="mail.errors?.pattern">

            Please enter a valid email address
          </mat-error>
        </div> -->
          <br />
          <p style="color: red;" *ngIf="show_pass_error">{{pass_error}}</p>
          <mat-form-field>
            <input name="password" required matInput type="password" [(ngModel)]="password" placeholder="Password">
          </mat-form-field>
          <br />
          <mat-form-field>
            <input name="password_verify" required matInput type="password" [(ngModel)]="password_verify" placeholder="Verify Password">
          </mat-form-field>
          <br />
          <mat-form-field>
            <input name="nickname" required matInput type="text" [(ngModel)]="nickname" placeholder="Nickname">
          </mat-form-field>
          <br />
          <mat-form-field>
            <input name="address" required matInput type="text" [(ngModel)]="address" placeholder="Billing Address">
          </mat-form-field>
          <br />
          <button style="float: right; clear: both;" mat-raised-button color="primary" type="submit">
            Signup
          </button>
          <div style="float: right; clear: both;">
            Already a user?
            <a style="color: blue; cursor: pointer;" (click)="showLogin=true">Sign In</a>
          </div>
        </form>


      </div>
    </div>
  </mat-card>
</div>