<div style="height: calc(100vh - 65px); overflow: auto">
  <mat-card *ngFor="let product of productService.filteredProducts" style="width: 60%;
          height:150px; margin: 10px auto">
    <div style="display: flex; align-items: center; height: 100%;">
      <div style="width:15%; height: 100%;">
        <img class="productImageList" src="{{product.ImageLink}}" alt="{{product.Name}}" />
      </div>
      <div style="margin: 15px; text-align: center; overflow: hidden;
            font-size: 20px;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;">
        {{product.Name}}
      </div>
      <div style="margin: 15px">
        ${{product.Price}}
      </div>
      <div style="margin: 15px">
        {{product.Inventory}} available
      </div>
      <button matTooltip="Edit Product" style="cursor: pointer; " mat-icon-button (click)="openProductEditDialog(product)">
        <mat-icon>edit</mat-icon>
      </button>
      <button matTooltip="Delete Product" style="cursor: pointer; " mat-icon-button (click)="deleteProduct(product)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card>
  <button mat-fab matTooltip="Add Product" (click)="addNewProduct()" color="primary" style="position: absolute; right: 10%; bottom: 3%;">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-fab matTooltip="Discounts" (click)="openSaleDialog()" color="primary" style="position: absolute; right: 5%; bottom: 3%;">
    <mat-icon svgIcon="sale" style="margin-top:-5px"></mat-icon>
  </button>
</div>